<!DOCTYPE html>
<html>
<head>
  {{#if showTests}}
    <link rel='stylesheet' href='/vendor/mocha.css' />
  {{/if}}
  <script src='//code.jquery.com/jquery-2.0.2.min.js'></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="modal.css">
</head>
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
[v-cloak] > * { display:none; }
[v-cloak]::before { content: "loading..."; }
</style>
<body class="w3-black">
  <header class="w3-container w3-padding-small w3-center w3-black">
    <h1 class="w3-jumbo"><i class="fa fa-bicycle"></i></h1>
      <p><a href="https://permanonce.io/">Permanonce</a></p>
  </header>
    <div class="w3-content w3-text-grey w3-padding-small">
    {{{body}}}
    </div>

    {{#if showTests}}
    		<div id="mocha"></div>
    		<script src="/vendor/mocha.js"></script>
    		<script src="/vendor/chai.js"></script>
    		<script>
    			mocha.ui('tdd');
    			var assert = chai.assert;
    		</script>
    		<script src="/qa/tests-global.js"></script>
    		{{#if pageTestScript}}
    			<script src="{{pageTestScript}}"></script>
    		{{/if}}
    		<script>mocha.run();</script>
    	{{/if}}
  </body>
</html>
