<div class="modal-wrapper">
  <div class="modal-container">
    <h3 slot="modal-header">Public Key</h3>
    <span slot="modal-body">
      <p>PublicKey: {{ publicKey }}</p>
    </span>
  </div>
</div>
