<div class="modal-wrapper">
  <div class="modal-container">
    <h3 slot="modal-header">Transaction</h3>
    <span slot="modal-body">
      <p>Transaction PrivateKey: {{ privateKey }}</p>
    </span>
  </div>
</div>
